.main img {
	margin: 20px;
	
}

.img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	display: inline-block;
	 border: 1px solid #ddd;
}

.head {
	text-align: center;
}

.btn1 {
	float:  right;
}

.video {
float: right;
padding: 15px; 
-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.video:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.trans{
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}